<launch>

    <master auto="start"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find boat_slam)/configuration_files/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find boat_slam)/configuration_files/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find boat_slam)/configuration_files/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find boat_slam)/configuration_files/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find boat_slam)/configuration_files/base_local_planner_params.yaml" command="load" />
    </node> 

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find boat_slam)/configuration_files/nav.rviz" />

</launch>
