<launch>

    <!-- Set up transformations between the 'laser' and 'base_link' frames.
        'laser' is the lidar, 'base_link' is the base of the robot. -->
    <param name="robot_description" textfile="$(find boat_slam)/urdf/backpack_2d.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Start the cartographer node. This node does SLAM. -->
    <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node" args="
            -configuration_directory $(find boat_slam)/configuration_files
            -configuration_basename backpack_2d.lua"
        output="screen">
    </node>

    <!-- Visualize SLAM in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

</launch>
