<launch>

  <!-- Start rplidar node and set parameters. This is the lidar. -->
  <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port"      type="string" value="/dev/ttyUSB0" />
    <param name="serial_baudrate"  type="int"    value="115200"       />
    <param name="frame_id"         type="string" value="laser"        />
    <param name="inverted"         type="bool"   value="false"        />
    <param name="angle_compensate" type="bool"   value="true"         />
  </node>

  <!-- Set up transformations between the 'laser' and 'base_link' frames.
       'laser' is the lidar, 'base_link' is the base of the robot. -->
  <param name="robot_description"
    textfile="$(find boat_slam)/urdf/backpack_2d.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <!-- Start the cartographer node. This node does SLAM. -->
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find boat_slam)/configuration_files
          -configuration_basename backpack_2d.lua"
      output="screen">
  </node>

  <!-- Visualize SLAM in rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />

  <!--<node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="map_receiver_node" pkg="boat_slam" type="map_receiver_node" output="screen"/>-->

</launch>
